.carousel .item img {
  max-height: 420px;
  min-width: auto;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    top: 29%;
    bottom: 1.25rem;
    left: 5%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left;
}


.carousel-control-prev, .carousel-control-next {
    width: 5%;
}


.bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    margin: 1rem -.75rem 0;
    border: solid #dee2e6;
    position: relative;
}
